APP_PORT=3010
REMNAWAVE_PANEL_URL=http://remnawave:3000
REMNAWAVE_API_TOKEN=
CUSTOM_SUB_PREFIX=
MARZBAN_LEGACY_LINK_ENABLED=false
MARZBAN_LEGACY_SECRET_KEY=
CADDY_AUTH_API_TOKEN=
META_TITLE=Nehtar Subscription
META_DESCRIPTION=Subscription page
