bot.nehtar.ru {
  encode zstd gzip
  reverse_proxy bot:8080
}

admin.nehtar.ru {
  encode zstd gzip
  reverse_proxy remnawave:3000
}

sub.nehtar.ru {
  encode zstd gzip
  reverse_proxy remnawave-subscription-page:3010
}
