APP_PORT=3000
METRICS_PORT=3001

API_INSTANCES=1

DATABASE_URL=postgresql://postgres:change_me@remnawave-db:5432/postgres

REDIS_SOCKET=/var/run/valkey/valkey.sock

JWT_AUTH_SECRET=change_me
JWT_API_TOKENS_SECRET=change_me

IS_TELEGRAM_NOTIFICATIONS_ENABLED=false
TELEGRAM_BOT_TOKEN=change_me
TELEGRAM_NOTIFY_USERS=change_me
TELEGRAM_NOTIFY_NODES=change_me
TELEGRAM_NOTIFY_CRM=change_me
TELEGRAM_NOTIFY_SERVICE=change_me
TELEGRAM_NOTIFY_TBLOCKER=change_me

PANEL_DOMAIN=admin.example.com
FRONT_END_DOMAIN=admin.example.com
SUB_PUBLIC_DOMAIN=sub.example.com

SWAGGER_PATH=/docs
SCALAR_PATH=/scalar
IS_DOCS_ENABLED=false

METRICS_USER=admin
METRICS_PASS=change_me

WEBHOOK_ENABLED=false
WEBHOOK_URL=https://your-webhook-url.com/endpoint
WEBHOOK_SECRET_HEADER=change_me

BANDWIDTH_USAGE_NOTIFICATIONS_ENABLED=false
BANDWIDTH_USAGE_NOTIFICATIONS_THRESHOLD=[60, 80]

NOT_CONNECTED_USERS_NOTIFICATIONS_ENABLED=false
NOT_CONNECTED_USERS_NOTIFICATIONS_AFTER_HOURS=[6, 24, 48]

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=postgres
